{% extends 'ideas/nav.html' %}
{% block main %}

<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>About Gigantazon</h1>
      <p>Our mission is to change online communications forever.  What gets us excited is connecting and inspiring people to solve problems, both big and small. We believe in the importance of helping each other, the transparency of communications, driving innovation, and interpersonal connections - and how these attributes intersect with each other in the wisdom of crowds. This is a reflection of the values held by our growing community</p>

    </div>
    <div class="col-md-3 col-md-offset-1">
      <h3>Our Values</h3>
      <p>Inclusive, Transparent Communications</p>
      <p>Spirit of Help</p>
      <p>Forward Thinking</p>
      <p>Connection</p>
    </div>
  </div>  
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Function</h1>
      <p>This platform more closely mimics in-person conversation. The guiding principals of this natural online interaction are Inspiration, Ideation, and Implementation. Mapping conversations in this way breaks away from the tired, chronological, listed approach that has dominated all types of online discussions since the inception of the internet</p>
    </div>
  </div>
</div>

<div class="footer">
 <div class="col-md-5 col-md-offset-2">
  <img src="/static/img/gzon-small.png" width="150px"><br />
  <a href="/">Home</a><br />
  <a href="/ideas/">Ideas</a><br />
  <a href="/ideas/faq/">FAQ</a><br />
  <a href="/ideas/register">Register</a><br />
  <a href="/ideas/tos/">Terms of Service</a><br/>
 </div>
</div>
{% endblock %}
