{% extends 'ideas/nav.html' %}
{% block main %}

<div class="uk-container">
  <div class="uk-width-1-1">
      <h1>About Gigantazon</h1>
      <p>Gigantazon shortens the distance between idea inception and execution. By connecting subject matter experts with ideators to bring ideas to life</p>
      <p>Create your own ideas. Schedule tasks. Link to support materials. Gigantazon started  by contantly solving problems on our own, no matter the sacrifice of our time, money, health, or dreams. Why not make that easier by getting quick answers from people who already know what you need to do?

  </div>


  <div class="uk-width-1-1">
      <h1>Function</h1>
      <p>This platform more closely mimics in-person conversation. The guiding principals of this natural online interaction are Inspiration, Ideation, and Implementation. Mapping conversations in this way breaks away from the tired, chronological, listed approach that has dominated all types of online discussions since the inception of the internet</p>
  </div>
</div>


{% endblock %}
