{% extends "ideas/base.html" %}
{% load static %}

{% block main %}

<div class="container-fluid">

<div class="row" id="main" style="margin-top: 20px;">
 <div class="col-md-8 col-md-offset-1">

 	<h1 id="top">Gigantazon FAQ</h1>
 	<hr />
 	<h4><a href="#1">What kinds of ideas should I use or NOT use?</a></h4>
 	<h4><a href="#2">Who can see my ideas?</a></h4>
 	<h4><a href="#3">What can I expect?</a></h4>
 	<h4><a href="#4">What's next after the conversation?</a></h4>
 	<h4><a href="#5">Are these ideas mine?</a></h4>
 	<h4><a href="#6">What stops others from turning my ideas into their ideas?</a></h4>
 	<h4><a href="#7">Why would I publish my best ideas on the internet?</a></h4>
 	<h4><a href="#8">Why aren't there 'like' or 'upvote'/'downvote' buttons?</a></h4>
 	<hr style="margin-bottom: 50px"/>
 	<span id="1"><h5>What kinds of ideas should I use or NOT use?</h5>
 	<ol>
 		<li>We obviously don't encourage anything hateful or derogatory. Please don't use our website as your personal toilet.</li>
 		<li>Great ideas are problems that need solving. New ways of doing things, or different ways of thinking.</li>
 		<li>Within reason, no ideas are off limits</li>
 	</ol>
 	<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="2"><h5>Who can see my ideas?</h5>
 		<ol>
 			<li>Private ideas are only seen by people you invite*</li>
 			<li>Public ideas are seen by any user of the website</li>
 		</ol>
 		<h4><small>* additional features coming soon</small></h4>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="3"><h5>What can I expect?</h5>
 		<ol>
 			<li>A new way of looking at a conversation, using our mapping feature</li>
 			<li>Expect to participate in interesting conversations with other individuals who are looking to help each other</li>
 			<li>Expect to contribute to solutions around the world</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="4"><h5>What's next after the conversation</h5>
 		<ol>
 			<li>That depends on you and the crowd!</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="5"><h5>Are these ideas mine?</h5>
 		<ol>
 			<li></li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="6"><h5>What stops other from turning my ideas into their ideas?</h5>
 		<ol>
 			<li>This website was started on less of an idea of ownership, and more of an idea of public dispersal of conversation</li>
 			<li>When a conversation is made public, everyone can help, but than someone else might use your idea</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="7"><h5>Why would I publish my best ideas on the internet?</h5>
 		<ol>
 			<li></li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="8"><h5>Why aren't there 'like' or 'upvote'/'downvote' buttons?</h5>
 		<ol>
 			<li>Although the use is widespread on many social media websites, this form of 'voting' is nothing more than a popularity tool</li>
 			<li>Ideas are developed on contributions</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 </div>
</div>
</div>
{% endblock %}