{% extends "ideas/nav.html" %}
{% load static %}

{% block head %}
<script>
$(document).ready(function() {
	var pathname = window.location.search.substring(1);
	var goto = pathname.split("=").pop()
	console.log(pathname.indexOf("next"))
	if(pathname.indexOf("next") > 0) {
		$('input[name=next]').val('/')
	} else {
		$('input[name=next]').val(goto);
	}
})
</script>

{% endblock %}
{% block logo %}
<h4 class="nav">Log In</h4>
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
	<h2>You are already logged in</h2>
	<a href="/">Home</a>
{% else %}
	<h2>Login</h2>
{% endif %}

{% endblock %}
{% block main %}
<div class="uk-container uk-container-center">
 <div class="uk-grid">
  {% if user.is_anonymous %}
   {% if login_fail %}
	 <p class="warn">{{ login_fail }}</p>
	 <p><a href="/ideas/password/reset/">Reset password</a></p>
   {% endif %}
    <div class="uk-width-1-1">
     <form id="login_form" method="post" action="/ideas/login/">
	  {% csrf_token %}
	  <input type="hidden" name="next" value="">
	  <div class="row">
		<div class="two columns">Username: </div><div class="four columns"><input type="text" name="username" value="" size="20" /></div>
	  </div>
	  <div class="row">
		<div class="two columns">Password: </div><div class="four columns"><input type="password" name="password" value="" size="20" /></div>
	  </div>
	  <div class="small pretty primary btn"><input type="submit" value="Login" /></div>
     </form>
    </div>
   {% endif %} 
  </div>
 </div>

{% endblock %}
