{% extends 'ideas/nav.html' %}
{% block main %}

<div class="jumbotron">
  <div class="container">
    <div class="col-md-12">
      <h1>Gigantazon Pricing</h1>
      <h3>Transparent and fully featured, Gigantazon's pricing meets the innovative needs of groups and organizations of all sizes</h3>
      <table class="table table-bordered" style="background-color: #fff"><tr><th style="text-align: center">Gigantazon Enterprise</th><th style="text-align: center">Gigantazon Group</th></tr>
        <tr><td>A powerful, intuitive, and compelling tool for driving collaborative innovation in an organization that is individually branded with personal assistance from our team</td><td>Private portal and innovation software for small teams and organizations</td></tr>
        <tr><td>
          <table class="table table-condensed table-bordered" style="text-align: center">
            <tr><td>$1.25</td><td>$2.25</td><td>$3.25</td><td>$6.25</td></tr>
            <tr><td colspan="4" >per user per month</td></tr>
            <tr><td>5,000 users</td><td>1,000 users</td><td>500 users</td><td>100 users</td></tr>
          </table>
        </td><td>
          <table class="table table-condensed table-bordered" style="text-align: center">
            <tr><td>$175.00</td></tr>
            <tr><td>per month</td></tr>
            <tr><td>50 users</td></tr>
          </table>
        </td></tr></table>

    </div>
  </div>  
</div>

<div class="container-fluid" style="min-height:300px">
 
</div>

{% endblock %}