<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <title>Gigantazon.com - What's the big idea</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  <script src="{% static "js/libs/modernizr-2.6.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
<script>
$(document).ready(function(){
  $('.dropdown-menu').find('form').click(function(e){
    e.stopPropagation();
  })
})


</script>
 </head>
 {% block head %}
 {% endblock %}
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
         <li><a href="/ideas/logout/">Logout</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <form class="" id="login" method="post" action="/ideas/login/">
            {% csrf_token %}
            <div class="form-group">
             <div class="col-sm-10">
              <li><input type="text" class="form-control" name="username" placeholder="Username"></li>
              <li><input type="password" class="form-control" name="password" placeholder="Password"></li>
             </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
            </div>
           </form>
          </ul>
        </li>
        {% endif %}
        <li><a href="/ideas">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block main %}

{% endblock %}


</body>
</html>
