<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <title>Gigantazon.com - What's the big idea</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  <script src="{% static "js/libs/modernizr-2.6.2.min.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
<script>
$(document).ready(function(){
  $('.dropdown-menu').find('form').click(function(e){
    e.stopPropagation();
  })
})


</script>
 </head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
         <li><a href="/ideas/logout/">Logout</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <form class="" id="login" method="post" action="/ideas/login/">
            {% csrf_token %}
            <div class="form-group">
             <div class="col-sm-10">
              <li><input type="text" class="form-control" name="username" placeholder="Username"></li>
              <li><input type="password" class="form-control" name="password" placeholder="Password"></li>
             </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
            </div>
           </form>
          </ul>
        </li>
        <li><a href="/ideas/register/">Register</a></li>
        {% endif %}

        <li><a href="/ideas">Home</a></li>
        <li><a href="/ideas/faq/">FAQ</a></li>
        <li style="width: 400px">
       <form class="navbar-form navbar-left" role="search" action="/ideas/search/" method="post" id="search"> {% csrf_token %}
        <div class="input-group">
         <input type="text" class="form-control" placeholder="Doesn't work yet" name="search" id="search">
         <input type="hidden" id="search-id">
         <p id="search-description"></p>
         <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         </span>
        </div>
       </form>
       </li>
      </ul>
        {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ideas/profile/">Profile</a></li>
      </ul>
      {% endif %}      
    </div>
  </div>
  <div class="row">
    <div class="" style="background: #7c7c7c; height:2px">
</nav>

<div class="container-fluid">

<div class="row" id="main" style="margin-top: 20px;">
 <div class="col-md-8 col-md-offset-1">

 	<h1 id="top">Gigantazon FAQ</h1>
 	<hr />
 	<h4><a href="#1">What kinds of ideas should I use or NOT use?</a></h4>
 	<h4><a href="#2">Who can see my ideas?</a></h4>
 	<h4><a href="#3">What can I expect?</a></h4>
 	<h4><a href="#4">What's next after the conversation?</a></h4>
 	<h4><a href="#5">Are these ideas mine?</a></h4>
 	<h4><a href="#6">What stops others from turning my ideas into their ideas?</a></h4>
 	<h4><a href="#7">Why would I publish my best ideas on the internet?</a></h4>
 	<h4><a href="#8">Why aren't there 'like' or 'upvote'/'downvote' buttons?</a></h4>
 	<hr style="margin-bottom: 50px"/>
 	<span id="1"><h5>What kinds of ideas should I use or NOT use?</h5>
 	<ol>
 		<li>We obviously don't encourage anything hateful or derogatory. Please don't use our website as your personal toilet.</li>
 		<li>Great ideas are problems that need solving. New ways of doing things, or different ways of thinking.</li>
 		<li>Within reason, no ideas are off limits</li>
 	</ol>
 	<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="2"><h5>Who can see my ideas?</h5>
 		<ol>
 			<li>Private ideas are only seen by people you invite*</li>
 			<li>Public ideas are seen by any user of the website</li>
 		</ol>
 		<h4><small>* additional features coming soon</small></h4>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="3"><h5>What can I expect?</h5>
 		<ol>
 			<li>A new way of looking at a conversation, using our mapping feature</li>
 			<li>Expect to participate in interesting conversations with other individuals who are looking to help each other</li>
 			<li>Expect to contribute to solutions around the world</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="4"><h5>What's next after the conversation</h5>
 		<ol>
 			<li>That depends on you and the crowd!</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="5"><h5>Are these ideas mine?</h5>
 		<ol>
 			<li></li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="6"><h5>What stops other from turning my ideas into their ideas?</h5>
 		<ol>
 			<li>This website was started on less of an idea of ownership, and more of an idea of public dispersal of conversation</li>
 			<li>When a conversation is made public, everyone can help, but than someone else might use your idea</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="7"><h5>Why would I publish my best ideas on the internet?</h5>
 		<ol>
 			<li></li>
 		</ol>
 		<a href="#top">top</a>
 	</span>
 	<hr />
 	<span id="8"><h5>Why aren't there 'like' or 'upvote'/'downvote' buttons?</h5>
 		<ol>
 			<li>Although the use is widespread on many social media websites, this form of 'voting' is nothing more than a popularity tool</li>
 			<li>Ideas are developed on contributions</li>
 		</ol>
 		<a href="#top">top</a>
 	</span>



</html>