{% extends "ideas/base.html" %}
{% load static %}

{% block main %}
<script>
$(document).ready(function () {
  var loc = document.URL.indexOf('mypage')
  if (document.URL.indexOf('mypage') != -1 ) {
    $('a[href=#mine]').tab('show') 
  } else if (document.URL.indexOf('watchpage') != -1 ) {
    $('a[href=#watch]').tab('show') 
  } else {
    $('a[href=#latest]').tab('show') 
  }

$("li.top-ideas").each(function() {
  var ideaid = $(this).attr("id");
  var url = "/ideas/view/subs/"+ideaid
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        var count = 0;
        $.each(data, function(index, val) {
          count++
          
        })
        $("#"+ideaid+" span").text("Replies: " + count)
      }
    })

  })
})
</script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<div class="row">
 <div class="col-md-8 col-md-offset-1">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ideaModal">Add Idea</button><br />
 	<h3>Top Ideas</h3>
 </div>
</div>
<div class="row" style="padding-left: 20px; padding-right: 30px">
 <div class="col-md-8 col-md-offset-1" id="svg" style="height: 250px; background: #bac9ff; margin-bottom: 20px; border: 1px solid black">

<span style="font-size: .7em">scroll to zoom; click to drag</span></div></div>
<div class="row">
<div class="col-md-8 col-md-offset-1">
  <ul class="list-group">
{% for drop in drop_parents %}
	 <a href="view/{{ drop.id }}" class="default"><li class="top-ideas" id="{{ drop.id }}"><h4>{{ drop.data }}</h4></a>
    <div class="row">
     <div class="col-md-3">
      <p class="top">
       Submitted {{ drop.date|timesince }}
      </p>
     </div>
    </div>
    <div class="row"> 
    <div class="col-md-6">
      <p class="top">
        Views: {{ drop.views }} &nbsp; - &nbsp; <span id="{{drop.id}}"></span>
       &nbsp; - &nbsp;Short URL: <a href="http://gzon.co/{{ drop.short }}">http://gzon.co{{ drop.short }}</a>
     </p>
    </div>
   </li>
{% endfor %}
{% if drop_parents.has_previous %} 
  <a href="?page={{ drop_parents.previous_page_number }}"><span class="label label-info">Prev</span></a>
{% endif %}
{% if drop_parents.has_next %}
  <a href="?page={{ drop_parents.next_page_number }}"><span class="label label-info">Next<span></a>
{% endif %}


  </ul>
 </div>


 <script type="text/javascript">
    
    var width = $("#svg").width(),
        height = 230;
        console.log(width, height)
    
    var zoom = d3.behavior.zoom()
        .scaleExtent([1, 10])
        .on("zoom", zoomed);

    var drag = d3.behavior.drag()
      .origin(function(d) { return d; })
      .on("dragstart", dragstarted)
      .on("drag", dragged)
      .on("dragend", dragended);

    var color = d3.scale.category20();
    
    var force = d3.layout.force()
        .gravity(.05)
        .charge(-60)
        .linkDistance(70)
        .size([width, height]);


    var svg = d3.select("#svg").append("svg:svg")
        .attr("width", width)
        .attr("height", height)
        .attr("pointer-events", "all")
	.append('svg:g')
	    .call(d3.behavior.zoom().on('zoom', redraw))
	.append('svg:g');

    d3.json("/ideas/map/", function( error, json) {
      console.log(json);
      var edges = [];
         json.links.forEach(function(e){
          var sourceNode = json.nodes.filter(function(n) { return n.id === e.source; })[0],
          targetNode = json.nodes.filter(function(n) { return n.id === e.target; })[0];
          
          edges.push({source: sourceNode, target: targetNode, value: e.value});
          
         })
         
      force
          .nodes(json.nodes)
          .links(edges)
          .start();
    
      var link = svg.selectAll("line.link")
          .data(edges)
        .enter().append("line")
          .attr("class", "link")
          /*.style("stroke-width", function(d) { return Math.sqrt(d.value); });*/
          .style("stroke-width", "1px");
    
      var node = svg.selectAll("circle.node")
          .data(json.nodes)
        .enter().append("circle")
          .attr("class", "node")
          .attr("r", function(d){return d.weight+5;})
          .style("fill", function(d) { // return color(d.group); })
    
            if(d.drop_type==='idea') return "#fefeb5";
            if(d.drop_type==='spark') return "#fed3d3";
            if(d.drop_type==='action') return "#babafe";
            
          })
          .on("click", function(d){
            // console.log(d)
            // $location.search(d,d.id);
            if (d3.event.defaultPrevented) return;
            window.location.href="/ideas/view/" + d.id ;
            
          })
          .call(force.drag);


      node.append("title")
          .text(function(d) { return d.name; });
      node.attr("id", function(d) { return d.id;});
    
      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
    
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });
    });
  function zoomed() {
    container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
  }

  function dragstarted(d) {
    d3.event.sourceEvent.stopPropagation();
    d3.select(this).classed("dragging", true);
  }

  function dragged(d) {
    d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
  }

  function dragended(d) {
   d3.select(this).classed("dragging", false);
  }

  function redraw() {
	svg.attr('transform', 'translate(' + d3.event.translate + ')' + 'scale(' + d3.event.scale + ')');
  };
 </script>

</div>

<div class="modal fade" id="ideaModal" tabindex="-1" role="dialog" aria-labelledby="ideaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% if user.is_authenticated %}
        <h4 class="modal-title" id="ideaModalLabel">Add New Idea</h4>
      </div>
      <div class="modal-body">
        <form class="form" id="add_idea" method="post" action="/ideas/">
          {% csrf_token %}
          <div class="form-group">
            <textarea maxlength="250" onkeyup="countChar(this)" class="form-control" rows="3" name="data" id="textIdea" placeholder="Add your idea" style="max-width: 80%; width: 80%"> </textarea><div id="charNum"></div>

          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
       {% else %}
       <h4>Please Register or <a href="/ideas/login">login</a></h4>
      </div>
      <div class="modal-body">
         <form id="user_form" method="post" action="/ideas/register/" enctype="multipart/form-data">
          {% csrf_token %}
           {% for field in user_form %}
              {{ field.errors }}
              <div class="form-group">
               <div class="md-col-2">
                {{ field.name.capitalize }}
               </div>
               <div class="md-col-4">
                {{ field }}
               </div>
              </div>
           {% endfor %}

           {% for field in profile_form %}
            {{ field.errors }}
            <div class="form-group">
             <div class="md-col-2">
              {{ field.name.capitalize }}
             </div>
             <div class="md-col-4">
              {{ field }}
             </div>
            </div>
           {% endfor %}
            <div class="form-group">
             <div class="md-col-4">
              <div class="small primary pretty button"><input type="submit" name="submit" value="Register"></a></div>
             </div>
            </div>
         </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function countChar(val) {
      var len = val.value.length;
      if (len >= 250) {
       val.value = val.value.substring(0, 250);
       } else {
         $('#charNum').text(250 - len);
       }
   };
</script>
{% endblock %}
