{% extends "ideas/base.html" %}


{% block main %}
<div class="row">
 <div class="six columns">
  {% if user.is_authenticated %}
    {{ pass }}
  {% else %}  
  <form id="login" method="post" action="/ideas/login/">
    {% csrf_token %}
   <ul>
    <li class="field"><input class="narrow input" type="text" placeholder="Username" name="username">
     <input class="narrow input" type="password" placeholder="Password" name="password">
    <div class="medium pretty secondary btn" style="width: 100px"><input type="submit" name="submit" value="Login"></div>
    <a href="/ideas/password/reset/"><span style="font-size: 10px;">Forgot password?</span></a>
    </li>
   </ul>  
 </form>
 {% endif %}
 </div>
</div>
<div class="row">
 <div class="six columns">
  <div class="row" style="margin-left: 0px">
   <div class="twelve columns">
 	<h3>Big Ideas</h3>
{% for idea in idea_parents %}
	<i class="icon-lamp"></i><a href="view/{{ idea.id }}">{{ idea.title }}</a></p>
{% endfor %}
	
{% if idea_parents.has_next %}
	<a href="?page={{ idea_parents.next_page_number }}">next</a>
{% endif %}
   </div>
  </div>
  <div class="row" style="margin-left: 0px; margin-top: 20px">
  	<div class="twelve columns">
     {% if user.is_authenticated %}
     <form id="ideas_form" method="post" action="/ideas/">
	{{ form.user }}
       {% csrf_token %}
       {% for hidden in form.hidden_fields %}
       	 {{ hidden }}
       {% endfor %}
       <ul>
       	  {{ form.errors }}
        <li class="field">{{ form.title}}<br />
         <div class="medium pretty secondary btn" style="width: 100px"><input type="submit" name="submit" value="Submit Idea"></div></li>

     </form> 
     {% endif %}
    </div>
   </div>
 </div>
 <div class="six columns" style="border: 1px solid gray; border-radius: 10px; padding: 5px; background: #f6f6f6">
   <h3>Latest Drops</h3>
  {% for r in results %}
    {% if r.spark %}
    	<i class="icon-light-up"></i>{% if r.url %}<a href="{{ r.url }}">{% endif %}{{ r.spark }}<br /></a></p>
    {% elif r.title %}
    	<i class="icon-lamp"></i><a href="view/{{ r.url }}">{{ r.title }}<br /></a></p>
    {% elif r.action %}
    	<i class="icon-calendar"></i><a href="view/{{ r.idea_id }}">{{ r.action }}<br /></a></p>
    {% else %}
    	{{ pass }}
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
