{% extends "ideas/base.html" %}
{% load static %}
{% block head %}
<script>
$(document).ready(function(){
  var idea_id = {{ title.id }}
  var mapurl = "/ideas/view/map/"+idea_id
    $.ajax({
      tupe: "GET",
      url: mapurl,
      success: function(d3map){
        //console.log(d3map)
      }
    })
  var url = "/ideas/view/subs/"+idea_id
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        //console.log(data)
        $.each(data, function(index, val) {
          var url = "/ideas/view/is_parent/"+val.id
          $.ajax({
            type: "GET",
            url: url,
            success: function(subs)
            {
              if ( subs > 0 ) {
                if ( val.drop_type === 'spark'){
                  $('ul#spark_list').append("<li id='"+val.id+"'><a href='#' class='parent'>"+val.data+"</a></li>")
                } else if ( val.drop_type === 'idea') {
                  $('ul#idea_list').append("<li id='"+val.id+"'><a href='#' class='parent'>"+val.data+"</a></li>")
                } else if ( val.drop_type === 'action') {
                  $('ul#spark_list').append("<li id='"+val.id+"'><a href='#' class='parent'>"+val.data+"</a></li>")
                }
              } else {
                if ( val.drop_type === 'spark'){
                  $('ul#spark_list').append("<li id='"+val.id+"'>"+val.data+"</li>")
                } else if ( val.drop_type === 'idea') {
                  $('ul#idea_list').append("<li id='"+val.id+"'>"+val.data+"</li>")
                } else if ( val.drop_type === 'action') {
                  $('ul#spark_list').append("<li id='"+val.id+"'>"+val.data+"</li>")
                }
              }
            }
          })

        })
      }
    })
  $( document ).on('click', 'a.parent', function(e){
    e.preventDefault;
    var idea_id = $(this).parent().prop('id');
    var url = "/ideas/view/subs/"+idea_id
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        $("div#sub1").remove();
        $('div#main').after("<div class='row' id='sub1'><div class='col-md-8 col-md-offset-3'><div class='row'>\
          <div class='col-md-4'><div class='spark alert'><center><h4>Sparks</center></h4></div><ul class='list-unstyled' id='sub_sparks'></ul></div>\
          <div class='col-md-4'><div class='idea alert'><center><h4>Ideas</center></h4></div><ul class='list-unstyled' id='sub_ideas'></ul></div>\
          <div class='col-md-4'><div class='action alert'><center><h4>Actions</center></h4></div><ul class='list-unstyled' id='sub_actions'></ul></div></div></div>")
        $.each(data, function(index, val) {
          if ( val.drop_type === 'spark') {
            $('ul#sub_sparks').append("<li id='"+val.id+"'>"+val.data+"</li>")
          } else if ( val.drop_type === 'idea' ) {
            $('ul#sub_ideas').append("<li id='"+val.id+"'>"+val.data+"</li>")
          } else if ( val.drop_type === 'action' ){
            $('ul#sub_actions').append("<li id='"+val.id+"'>"+val.data+"</li>")
          }
        })
      }
    })
  })
 });   
</script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>



{% endblock %}

{% block main %}
<div class="container-fluid">

<div class="row">
 <div class="col-md-8">
  <h2>{{ title|title }}</h2>
 </div>
</div>

<div class="row" id="main" style="margin-top: 20px;">
 <div class="col-md-3" id="svg">
 </div>
<script type="text/javascript">
    
    var width = 200,
        height = 200;
    
    var color = d3.scale.category20();
    
    var force = d3.layout.force()
        .gravity(.05)
        .charge(-100)
        .linkDistance(20)
        .size([width, height]);
    
    var svg = d3.select("#svg").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("pointer-events", "all");
    
    d3.json("/ideas/view/map/"+{{ title.id }}, function( error, json) {
      var edges = [];
         json.links.forEach(function(e){
          var sourceNode = json.nodes.filter(function(n) { return n.id === e.source; })[0],
          targetNode = json.nodes.filter(function(n) { return n.id === e.target; })[0];
          
          edges.push({source: sourceNode, target: targetNode, value: e.value});
          
         })
         
      force
          .nodes(json.nodes)
          .links(edges)
          .start();
    
      var link = svg.selectAll("line.link")
          .data(edges)
        .enter().append("line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return Math.sqrt(d.value); });
    
      var node = svg.selectAll("circle.node")
          .data(json.nodes)
        .enter().append("circle")
          .attr("class", "node")
          .attr("r", 5)
          .style("fill", function(d) { return color(d.group); })
          .call(force.drag);
    
      node.append("title")
          .text(function(d) { return d.name; });
    
      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
    
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });
    });
    
 </script>
 <div class="col-md-8">

  <div class="row" style="min-height: 250px">

    <div class="col-md-4">
     <div class="spark alert"><center><h4>Sparks</h4></center></div>
     <ul id="spark_list" class="list-unstyled">

     </ul>
    </div>

    <div class="col-md-4">
     <div class="idea alert" id="title"><center><h4>Ideas</h4></center></div>
      <ul id="idea_list" class="list-unstyled">

      </ul>
    </div>

    <div class="col-md-4">
     <div class="action alert"><center><h4 class="">Actions</h4></center></div>
     <ul id="action_list" class="list-unstyled">

      </ul>
    </div>

  </div><!-- row -->
 </div><!-- column -->
</div><!-- row -->


<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <div id="data">
    </div>  
  </div>
</div>

</div><!-- container -->


{% endblock %}
