{% extends "ideas/base.html" %}
{% load static %}
{% block head %}
<script>
$(document).ready(function(){
  colorid = ''
  mapid = ''
  $('input[name=website]').val("http://");


  var idea_id = {{ title.id }}

  var url = "/ideas/view/subs/"+idea_id
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        //console.log(data)
        $.each(data, function(index, val) {
              
              if ( val.drop_type === 'spark'){
                  $('ul#spark_list').append("<a class='default' id='"+val.id+"' href='/ideas/view/"+val.id+"' rel='tooltip' data-toggle='tooltip' data-placement='bottom' title='Tooltip'><li class='top-ideas spark' id='"+val.id+"' >"+val.data+"</li></a>")
              } else if ( val.drop_type === 'idea') {
                  $('ul#idea_list').append("<a class='default' id='"+val.id+"' href='/ideas/view/"+val.id+"' rel='tooltip' data-toggle='tooltip' data-placement='bottom' title='Tooltip'><li class='top-ideas idea' id='"+val.id+"'>"+val.data+"</li></a>")
              } else  {
                  $('ul#action_list').append("<a class='default' id='"+val.id+"' href='/ideas/view/"+val.id+"' rel='tooltip' data-toggle='tooltip' data-placement='bottom' title='Tooltip'><li class='top-ideas action' id='"+val.id+"'>"+val.data+"</li></a>")
              }
             

        })
        $("li.top-ideas").each(function() {
          var ideaid = $(this).attr("id");
          var p = $(this).parent()
          var url = "/ideas/view/subs/"+ideaid
          $.ajax({
            type: "GET",
            url: url,
            success: function(data)
            {
              var count = 0;
              $.each(data, function(index, val) {
                count++
              })
              $(p).attr('data-original-title', 'Replies: '+count)
            }
          })

        })
        $('a[rel=tooltip]').tooltip();
        $('a[rel=tooltip]').mouseover(function() {
          mapid = $(this).attr('id')
          colorid = $('circle#'+mapid).css('fill')
          r = parseInt($('circle#'+mapid).attr('r')) + 5
          $('circle#'+mapid).css("fill", "#f66200").attr('r', r)


        })
        .mouseout(function() {
          r = parseInt($('circle#'+mapid).attr('r')) - 5
          $('circle#'+mapid).css("fill", colorid)
          r = $('circle#'+mapid).attr('r', r)
        })
      }
    })
  $('select#type').on('change', function() {
    $('.control-label').remove();
    var type = this.value;
    if (type === 'spark') {
      $('div#action-group').remove()
      $('select#type').after("<div class='form-group' id='url-group' style='margin-top: 5px'><input type='text' name='url' class='form-control' placeholder='Enter URL' style='max-width: 80%'></div>")
    } else if (type === 'action') {
      $('div#url-group').remove()
      $('select#type').after("<div class='form-group' id='action-group' style='margin-top: 5px'><label for='action-date'>Due Date </label><br /><input type='datetime-local' id='action-date' name='action-date' class='frm-control' style='max-width: 80%'></div>")
    } else if (type === 'idea') {
      $('div#action-group').remove();
      $('div#url-group').remove();
    }

  })
  $('#add_idea').submit(function(e) {
    $('.control-label').remove();
    var idea_type = $('#type').val()
    if ( !$.trim($('textarea[name=data]').val()) ) {
      $("div#textarea-idea").addClass('has-error');
      $("textarea#textIdea").before("<label class='control-label' for='textIdea'>Please enter your idea</label>")
    } else {
      if (idea_type === 'spark') {
        var url = $('input[name=url]').val()
        if ( !url.match(/^http([s]?):\/\/.*/)) {
          $('div#url-group').addClass('has-error');
          $('input[name=url]').before("<label class='control-label' for='url-group'>Valid URL Required</label>")
        } else {
          $('#add_idea').submit();
        }

      } else if ( idea_type === 'action' ) {
          var dueDate = $('input[name=action-date]').val()
          if ( dueDate != '' ) {
            $('#add_idea').submit();
          } else {
            $('div#action-group').addClass('has-error');
            $('input[name=action-date').before("<label class='control-label' for='action-group'>Valid Date Required&nbsp;&nbsp; </label>")
          }
      } else if ( idea_type === 'idea' ) {
        $('#add_idea').submit();
      }
    }
  e.preventDefault();
  })

  $("#watch").click(function () {
    var idea_id = {{ title.id }}
    var url = "/ideas/watch/"+idea_id
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        if ( data === 'OK' ) {
          $("#watch").attr("class", "btn btn-success").html("Watching")
        } else {
          $("#watch").attr("class", "btn btn-danger").html("Failed")
        }
      }
    })
  })
  $("#unwatch").click(function() {
    var idea_id = {{ title.id }}
    var url = "/ideas/unwatch/"+idea_id
    $.ajax({
      type: "GET",
      url: url,
      success: function(data)
      {
        if ( data === 'OK' ) {
          $("#unwatch").attr("class", "btn btn-success").html("Unwatched")
        } else {
          $("unwatch").attr("class", "btn btn-danger").html("Failed")
        }
      }
    })
  })
 $('a').tooltip();
 });   
</script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>



{% endblock %}

{% block main %}
<div class="container-fluid">
{% if origin %} 
<div class="row">
 <div class="col-md-10 col-md-offset-1">
  <h3><a href="/ideas/view/{{origin.id}}">{{ origin }}</a></h3>
 </div>
</div>
{% endif %}
<div class="row" id="main" style="margin-top: 20px;">
 <div class="col-md-3 col-md-offset-1">
  <ul class="list-unstyled">
    <li><h3>{{ title | title }}</h3></li>
    {% if title.url %} <a target="_new" href="{{ title.url}}">{{ title.url }}</a>{% endif%}
    <li>Link: <a href="http://gzon.co/{{title.short}}">gzon.co/{{title.short }}</a></li>
    <li>Date submitted: {{ title.date|date }}</li>
    <li>Views: {{ title.views }}</li>
    <li>Replies: {{ children }}</li>
  </ul>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ideaModal">Add Reply</button> 
  {% if user.is_authenticated %}{% if watching == True %}<button type="button" id="unwatch" class="btn btn-default">UnWatch</button>{% else %}<button type="button" id="watch" class="btn btn-default">Watch</button>{% endif %}{% endif %}
  <a id="report" href="#" data-toggle="modal" data-target="#reportModal">Report</a>
 </div>
 <div class="col-md-5" id="svg" style="min-height: 250px; background: #e5e5e5; margin-bottom: 20px; border: 1px solid black">
 </div>
</div>
<script type="text/javascript">
    
    var width = $("#svg").width(),
        height = $("#svg").height();
    
    var color = d3.scale.category20();
    
    var force = d3.layout.force()
        .gravity(.05)
        .charge(-100)
        .linkDistance(30)
        .size([width, height]);
    
    var svg = d3.select("#svg").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("pointer-events", "all");
    if ( {{ title.origin_id }} == 0 ){
      drop_id = {{ title.id }}
    } else {
      drop_id = {{ title.origin_id }}
    }
    d3.json("/ideas/view/map/"+drop_id, function( error, json) {
      console.log(json);
      var edges = [];
         json.links.forEach(function(e){
          var sourceNode = json.nodes.filter(function(n) { return n.id === e.source; })[0],
          targetNode = json.nodes.filter(function(n) { return n.id === e.target; })[0];
          
          edges.push({source: sourceNode, target: targetNode, value: e.value});
          
         })
         
      force
          .nodes(json.nodes)
          .links(edges)
          .start();
    
      var link = svg.selectAll("line.link")
          .data(edges)
        .enter().append("line")
          .attr("class", "link")
          /*.style("stroke-width", function(d) { return Math.sqrt(d.value); });*/
          .style("stroke-width", "1px");
    
      var node = svg.selectAll("circle.node")
          .data(json.nodes)
        .enter().append("circle")
          .attr("class", "node")
          .attr("r", function(d){return d.weight+5;})
          .style("fill", function(d) { // return color(d.group); })
            if(d.id ==={{title.id }}) return "#ff0000";
            if(d.drop_type==='idea') return "#fefeb5";
            if(d.drop_type==='spark') return "#fed3d3";
            if(d.drop_type==='action') return "#babafe";
            
          })
          .on("click", function(d){
            // console.log(d)
            // $location.search(d,d.id);
            window.location.href="/ideas/view/" + d.id ;
            
          })
          .call(force.drag);


      node.append("title")
          .text(function(d) { return d.name; });
      node.attr("id", function(d) { return d.id;});
    
      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
    
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });
    });
    
 </script>

<div class="row">
 <div class="col-md-8 col-md-offset-1">

  <div class="row" style="min-height: 250px">

    <div class="col-md-4">
     <div class="spark alert"><center><h4>Sparks</h4></center></div>
     <ul id="spark_list" class="list-group">

     </ul>
    </div>

    <div class="col-md-4">
     <div class="idea alert" id="title"><center><h4>Ideas</h4></center></div>
      <ul id="idea_list" class="list-group">

      </ul>
    </div>

    <div class="col-md-4">
     <div class="action alert"><center><h4 class="">Actions</h4></center></div>
     <ul id="action_list" class="list-group">

      </ul>
    </div>

  </div><!-- row -->
 </div><!-- column -->
</div><!-- row -->


<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <div id="data">
    </div>  
  </div>
</div>

</div><!-- container -->
<div class="modal fade" id="ideaModal" tabindex="-1" role="dialog" aria-labelledby="ideaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% if user.is_authenticated %}
        <h4 class="modal-title" id="ideaModalLabel">Add New Idea</h4>
      </div>
      <div class="modal-body">
        <form class="form form-group" id="add_idea" method="post" action="/ideas/">
          {% csrf_token %}
          <input type="hidden" name="parent" value="{{ title.id }}">
          <input type="hidden" name="origin" value=" {{ title.origin_id }}">
          <div class="form-group">
           <select class="form-control" id="type" name="type" style="width: 80%">
             <option>--Select Type--</option>
             <option value="spark">Spark</option>
             <option value="idea">Idea</option>
             <option value="action">Action</option>
           </select>
          </div>
          <div class="form-group" id="textarea-idea" style="margin-top: 5px">
            <textarea maxlength="1500" onkeyup="countChar(this)" class="form-control" rows="3" name="data" id="textIdea" placeholder="Add your idea" style="max-width: 80%; width: 80%"> </textarea><div id="charNum"></div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      {% else %}
       <h4 class="modal-title" id="ideaModalLabel">Please Register or <a href="/ideas/login/">Login</a></h4>
      </div>
      <div class="modal-body">
        <form id="user_form" method="post" action="/ideas/register/" enctype="multipart/form-data">
          {% csrf_token %}
           {% for field in user_form %}
              {{ field.errors }}
              <div class="form-group">
               <div class="md-col-2">
                {{ field.name.capitalize }}
               </div>
               <div class="md-col-4">
                {{ field }}
               </div>
              </div>
           {% endfor %}

           {% for field in profile_form %}
            {{ field.errors }}
            <div class="form-group">
             <div class="md-col-2">
              {{ field.name.capitalize }}
             </div>
             <div class="md-col-4">
              {{ field }}
             </div>
            </div>
           {% endfor %}
            <div class="form-group">
             <div class="md-col-4">
              <div class="small primary pretty button"><input type="submit" name="submit" value="Register"></a></div>
             </div>
            </div>
         </form>
       </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="reportModalLabel">Report Drop</h4><br />
        <h5>{{ title }}</h5>
      </div>
      <div class="modal-body">
         <h5>This will report this Drop to the site admins for violation of our Terms of Service.  Please click the Report button below to submit this request.</h5>
         <form class="form form-group" id="report_drop" method="post" action="/ideas/report/">
           {% csrf_token %}
           <input type="hidden" name="drop_id" value="{{ title.id }}">
           <input type="hidden" name="drop_title" value="{{ title }}">
           <div class="form-group">
           </div>
           <button type="submit" class="btn btn-default">Report</button>
         </dform>
      </div>
    </div>
  </div>
</div>

<script>
  function countChar(val) {
      var len = val.value.length;
      if (len >= 1500) {
       val.value = val.value.substring(0, 1500);
       } else {
         $('#charNum').text(1500 - len);
       }
   };
</script>
{% endblock %}
